#content {
    display: flex;
    flex-flow: column;
    height: 100%;

}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    width: 100%;
}


.block {
    display: inline-block;
    width: 100%;
}


li {
    display: inline;
    padding: 7px;
}
.bod__left {
    float: left;
}

.bod__right {
    text-align: right;
    width: 100%;
}

main.block {
    position: relative;
    min-height: 100%;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    background-color: lightyellow;
    flex: 1 1 auto;
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main__search {
    display: flex;
    justify-content: center;
}

.main__submit {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}
button {
    margin: 8px;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #eeeeee;
    padding: 14px 10px;
}

.foot__left {
    float: left;
    margin: 0;
}

.foot__center {
    text-align: center;
    background-color: lightgray;
}

.foot__right {
    float: right;
    margin: 0;
    padding-right: 15px;
}