
.bod__left {
    text-align: left;
    width: 100%;
    list-style: none;
}

.bod__right {
    text-align: right;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.main__logo {

}

.main__search {

}


.main___submit {

}

.footer {

}

.foot__left {

}

.foot__right {

}