#content {
    display: flex;
    flex-flow: column;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: greenyellow;
  }

li {
    display: inline;
    float: left;  
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;   
}

li a:hover {
    text-decoration: underline;
}

.topNav {
    position: fixed;
    top: 0;
    width: 100%;
}

.searchBlock {
    align-self: auto;
}

footer.botNav {
    position: fixed;
    bottom: 0;
    width: 100%;
}